<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/partials/footer.css">
</head>
<a href="#" class="back-to-top"><i class="fas fa-chevron-up"></i></a>
<footer>
    <footer>
        <div class="footer-col">
            <div class="quick-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">À propos</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="newsletter">
                <h3>Newsletter</h3>
                <p>Inscrivez-vous à notre newsletter pour recevoir les dernières mises à jour.</p>
                <form action="#" method="post">
                    <input type="email" name="email" placeholder="Entrez votre adresse e-mail" required>
                    <button type="submit">S'abonner</button>
                </form>
            </div>
            <div class="terms">
                <h3>Termes et Conditions</h3>
                <ul>
                    <li><a href="#">CGU</a></li>
                    <li><a href="#">CGV</a></li>
                    <li><a href="#">Politique de confidentialité</a></li>
                    <li><a href="#">Mentions légales</a></li>
                </ul>
            </div>
            <div class="social-links">
                <a href="https://twitter.com/HallexxP"><i class="fab fa-twitter"></i></a>
                <a href="https://github.com/Hallexxx"><i class="fab fa-github"></i></a>
                <a href="https://www.instagram.com/hallexx__/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/alexandre-perez-b3309b267/"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <p>© 2023 UberAlex - Tous droits réservés</p>
    </footer>