<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" type="text/css" href="/static/css/partials/header.css">
    </head>
    <body>

        <header class="header">
            <div class="header_content">
                <div class="header_profile-container">
                    <a href="./home"><span class="header_profile-span">UberAlex</span></a><br>
                </div>

                <div class="header_main">
                    <ul class="header_links">
                        <li class="header_link-li">
                            <a href="./home" class="header_link"> Home </a>
                        </li>
                        <li class="header_link-li">
                            <a href="./#about" class="header_link"> Infos </a>
                        </li>
                        <li class="header_link-li">
                            <img src="/static/assets/img/panier.png" alt="ImgPanier" class="header_link-less" />
                        </li>
                        <li class="header_link-li">
                            <img src="/static/assets/img/menu.png" alt="ImgProfile" class="header_link-less" id="menuButton" onclick="toggleMenu()">
                        </li>
                    </ul>
                </div>
            </div>  
        </header>

        <div id="sideMenu" class="sidenav">
            <span class="closebtn">&times;</span>
            <button class="button_connection">
                <a href="./registration"> Se connecter </a>
            </button>
            <button class="button_inscription">
                <a href="./registration"> S'inscrire </a>
            </button>
            <a href="./login">Vous etes restaurateurs</a>
            <a href="./login">Devenez restaurateurs</a>
        </div>
        <script src="/static/js/popup.js" defer></script>
    </body>
</html>