<?php
session_start();
?>
<!DOCTYPE html>
<html lang="fr">
<head>
    <link rel="stylesheet" href="css/header.css">
    <link rel="icon" href="img/photo.jpg" type="image/x-icon">
</head>
<body>

    <header class="header">
        <div class="header_content">
            <div class="header_profile-container">
                <div class="header_profile-img-cont">
                    <img src="img/photo.jpg" alt="ImgProfile" class="header_logo-img" />
                </div>
                <span class="header_profile-span">Tim VANNSON</span><br>
                <?php
                if (isset($_SESSION['admin_logged_in']) && $_SESSION['admin_logged_in']) {
                    echo '<p style="margin-left:1rem;">Admin Mode</p>';
                }
                ?>
            </div>

            <div class="header_main">
                <ul class="header_links">
                    <li class="header_link-li">
                        <a href="./#home" class="header_link"> Home </a>
                    </li>
                    <li class="header_link-li">
                        <a href="./#about" class="header_link"> Infos </a>
                    </li>
                    <li class="header_link-li">
                        <a href="./#projects" class="header_link"> Projets </a>
                    </li>
                    <li class="header_link-li">
                        <a href="./contact" class="header_link"> Contact </a>
                    </li>
                    <?php
                    if (isset($_SESSION['admin_logged_in']) && $_SESSION['admin_logged_in']) {
                        echo '<li class="header_link-li">
                                <a href="./logout" class="header_link"> Deconnexion </a>
                            </li>';
                    } else {
                        echo '<li class="header_link-li">
                                <a href="./login" class="header_link"> Login Admin </a>
                            </li>';
                    }  
                    ?>
                </ul>
            </div>
        </div>
    </header>
</body>
</html>