<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700;900&display=swap">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/home.css">
</head>

    <%- include('./partials/header.ejs') %>
    <body>

        <section id="home" class="profile-presentation">
            <div class="stack">
                <div id="boutons">
                    <button class="bouton-onglet selected" onclick="choisirOnglet('info')">
                        <a href="#">Informations du Compte</a>
                    </button>
                    <button class="bouton-onglet" onclick="choisirOnglet('commandes')">
                        <a href="#">Vos Commandes</a>
                    </button>
                    <button class="bouton-onglet" onclick="choisirOnglet('favoris')">
                        <a href="#">Vos Favoris</a>
                    </button>
                    <div class="trait-noir"></div>
                </div>
            </div>
            <div class="container_info_profile">
                <div class="container_img_profile">
                    <div class="profile-div">
            
                    </div>
                </div>
            </div> 
        </section>

        <section id="profile-sec" class="about sec-pad">
            <div id="contenu">
                <% if (nomContenu === "info") { %>
                    <p id="infoContenu">Contenu pour les informations du compte...</p>
                <% } else if (nomContenu === "commande") { %>
                    <p id="commandesContenu">Contenu pour vos commandes...</p>
                <% } else if (nomContenu === "favoris") { %>
                    <p id="favorisContenu">Contenu pour vos favoris...</p>
                <% } %>
            </div>
        </section>

        <script src="/static/js/sidenav.js" defer></script>
    </body>

    <%- include('./partials/footer2.ejs') %>


</html>