<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/login.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">

</head>

<body>

    <%- include('./partials/header.ejs') %>

        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="./create_member" method="post">
                    <h1>Créez-vous un compte</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>ou utilisez votre e-mail pour vous connecter</span>
                    <input type="text" name="first_name" placeholder="Prenom" required />
                    <input type="text" name="name" placeholder="Nom" required />
                    <input type="text" name="address" placeholder="Adresse" required />
                    <input type="text" name="postal" placeholder="Code postal" required />
                    <input type="text" name="city" placeholder="Ville" required />
                    <input type="email" name="mail" placeholder="Email" required />
                    <input type="password" name="password" placeholder="Mot de Passe" required />
                    <% if (typeof error !=='undefined' ) { %>
                        <p style="color: red;">
                            <%= error %>
                        </p>
                    <% } %>
                    <button type="submit">Créez votre compte</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="#">
                    <h1>Connectez-vous</h1>
                    <div class="social-container">
                        <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
                        <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                    <span>ou créez-vous un compte</span>
                    <input type="email" id="" placeholder="Email / Username" />
                    <input type="password" id="" placeholder="Password" />
                    <a href="#">Vous avez oublié votre mot de passe ?</a>
                    <button>Se connecter</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Heureux de vous revoir !</h1>
                        <p>Utilisez votre e-mail et votre mot de passe pour vous connecter.</p>
                        <button class="ghost" id="signIn">Connectez-vous</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Rejoignez-nous !</h1>
                        <p>Entrez vos informations pour créer votre compte.</p>
                        <button class="ghost" id="signUp">Créez votre compte</button>
                    </div>
                </div>
            </div>
        </div>
</body>

</html>