@import url(./set.css);

.home-presentation {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cont-main_panier {
    position: relative;
    width: 100rem;
    height: 66rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 4rem;
}

.cont-main_panier h1 {
    text-align: center;
}

.cont-main_panier p {
    text-align: justify;
}

.button-pay {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-color: rgb(37, 167, 37);
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.title-span{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 2rem 6rem;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}

.cl {
    flex: 1;
}

.am {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fm {
    gap: 16px;
}

.fl {
    -webkit-box-pack: center;
    justify-content: center;
}

.fk {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.fj {
    padding: 24px 40px;
}

.ei {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.am {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1024px) {
    .fm {
        gap: 16px;
    }

    .fl {
        -webkit-box-pack: center;
        justify-content: center;
    }

    .fk {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }

    .fj {
        padding: 24px 40px;
    }

}

.ei {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.am {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1024px) {
    .fq {
        -webkit-box-flex: 1;
        flex-grow: 1;
    }

    .fp {
        max-width: 716px;
    }

    .fo {
        min-width: 420px;
    }
}

.fn {
    gap: 16px;
}

.am {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

@media screen and (min-width: 1024px) {
    .hy {
        max-width: 420px;
    }

    .fo {
        min-width: 420px;
    }
}

.fn {
    gap: 16px;
}

.am {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Ensure that divs have correct display properties */
div {
    display: block;
    unicode-bidi: isolate;
}

.ha {
    background-color: rgb(0, 0, 0);
}

.h9 {
    padding-right: 20px;
}

.h8 {
    padding-left: 20px;
}

.h7 {
    border-bottom-left-radius: 8px;
}

.h6 {
    border-top-left-radius: 8px;
}

.h5 {
    border-bottom-right-radius: 8px;
}

.h4 {
    border-top-right-radius: 8px;
}

.gz {
    padding-top: 16px;
}

.ew {
    font-size: 18px;
}

.dr {
    font-weight: 500;
}

.dq {
    margin-bottom: 0;
}

.dp {
    margin-right: 0;
}

.do {
    margin-top: 0;
}

.dn {
    margin-left: 0;
}

.dj {
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.di {
    transition-duration: 200ms;
}

.df {
    text-decoration: none;
}

.de {
    box-shadow: none;
}

.dd {
    outline: none;
}

.dc {
    border-bottom-style: none;
}

.db {
    border-right-style: none;
}

.da {
    border-top-style: none;
}

.d9 {
    border-left-style: none;
}

.d8 {
    border-bottom-width: 0;
}

.d7 {
    border-right-width: 0;
}

.d6 {
    border-top-width: 0;
}

.d5 {
    border-left-width: 0;
}

.d4 {
    -webkit-box-pack: center;
    justify-content: center;
}

.d3 {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

.ck {
    color: #ffffff;
}

.ci {
    cursor: pointer;
}

.br {
    line-height: 24px;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.bi {
    padding-bottom: 16px;
}

.bh {
    width: 100%;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.aq {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.af {
    box-sizing: border-box;
}

button {
    border-width: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: transparent;
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 1024px) {
    .ft {
        padding: 4px 0px;
    }

    .fs {
        border: 1px solid rgb(243, 243, 243);
    }

    .fv {
        padding: 0px 24px;
    }
}

.fr {
    border-radius: 16px;
}

.eh {
    padding: 0;
}

.b0 {
    background-color: #ffffff;
}

.fu {
    padding: 0px 16px;
}

.g6 {
    min-width: 0px;
}

.cl {
    flex: 1;
}

.eo {
    padding: 16px 0;
}

.ci {
    cursor: pointer;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

@media screen and (min-width: 600px) {
    .g0 {
        margin-top: 16px;
    }

    .fz {
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .fy {
        -webkit-box-align: center;
        align-items: center;
    }

    .fx {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }

    .g4 {
        display: unset;
    }
}

.g2 {
    line-height: 28px;
}

.g1 {
    font-size: 20px;
}

.bm {
    font-weight: 700;
}



h1,
h2,
h3,
h4,
p {
    margin: 0;
    font-weight: normal;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

user agent stylesheet h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.fw {
    -webkit-box-align: start;
    align-items: flex-start;
}

.dq {
    margin-bottom: 0;
}

.am {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.g8 {
    color: rgb(94, 94, 94);
}

.g7 {
    width: 40px;
}

.g6 {
    min-width: 0px;
}

.cl {
    flex: 1;
}

.am {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.gt {
    padding-right: 12px;
}

.gs {
    padding-left: 12px;
}

.gr {
    padding-bottom: 10px;
}

.gq {
    padding-top: 10px;
}

.gp {
    border-bottom-left-radius: 30px;
}

.go {
    border-top-left-radius: 30px;
}

.gn {
    border-bottom-right-radius: 30px;
}

.gm {
    border-top-right-radius: 30px;
}

.fe {
    line-height: 16px;
}

.fd {
    font-size: 14px;
}

.dr {
    font-weight: 500;
}

.dq {
    margin-bottom: 0;
}

.dp {
    margin-right: 0;
}

.do {
    margin-top: 0;
}

.dn {
    margin-left: 0;
}

.dj {
    transition-timing-function: cubic-bezier(0, 0, 1, 1);
}

.di {
    transition-duration: 200ms;
}

.dh {
    -webkit-transition-property: background;
    -moz-transition-property: background;
    transition-property: background;
}

.dg {
    -webkit-appearance: none;
}

.df {
    text-decoration: none;
}

.de {
    box-shadow: none;
}

.dd {
    outline: none;
}

.dc {
    border-bottom-style: none;
}

.db {
    border-right-style: none;
}

.da {
    border-top-style: none;
}

.d9 {
    border-left-style: none;
}

.d8 {
    border-bottom-width: 0;
}

.d7 {
    border-right-width: 0;
}

.d6 {
    border-top-width: 0;
}

.d5 {
    border-left-width: 0;
}

.d4 {
    -webkit-box-pack: center;
    justify-content: center;
}

.d3 {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
}

.ci {
    cursor: pointer;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.b1 {
    color: #000000;
}

.aq {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

button {
    border-width: 0;
    cursor: pointer;
    padding: 0;
    margin: 0;
    background: transparent;
    font: inherit;
    color: inherit;
    letter-spacing: inherit;
}

.ds {
    line-height: 20px;
}

.dr {
    font-weight: 500;
}

.bp {
    font-size: 16px;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.b1 {
    color: #000000;
}

.fd {
    font-size: 14px;
}

.ds {
    line-height: 20px;
}

.bq {
    font-weight: normal;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.b1 {
    color: #000000;
}

.i5 {
    color: rgb(75, 75, 75);
}

.g6 {
    min-width: 0px;
}

.cl {
    flex: 1;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

user agent stylesheet div {
    display: block;
    unicode-bidi: isolate;
}

.eo {
    padding: 16px 0;
}

.ci {
    cursor: pointer;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

.cr {
    -webkit-box-pack: end;
    justify-content: flex-end;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.gy {}

.gx {
    border: none;
}

.cl {
    flex: 1;
}

.bs {
    height: 1px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.am {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.ak {
    position: relative;
}

.aj {
    min-width: 100%;
}

.j0 {
    margin: 12px 0px;
}

.g2 {
    line-height: 28px;
}

.g1 {
    font-size: 20px;
}

.bm {
    font-weight: 700;
}



.it {
    margin-bottom: 16px;
}

.j4 {
    padding: 16px;
}

.j3 {
    margin-bottom: 12px;
}

.j2 {
    border-radius: 12px;
}

.j1 {
    border: 2px solid rgb(243, 243, 243);
}

.ci {
    cursor: pointer;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.b1 {
    color: #000000;
}

.j5 {
    margin-right: 12px;
}

.fg {
    width: 36px;
}

.ff {
    height: 36px;
}

.d4 {
    -webkit-box-pack: center;
    justify-content: center;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.eq {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.ei {
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.i4 {
    gap: 4px;
}

.am {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.fd {
    font-size: 14px;
}

.ds {
    line-height: 20px;
}

.bq {
    font-weight: normal;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.j6 {
    border: 2px solid rgb(0, 0, 0);
}

@media screen and (min-width: 600px) {
    .g4 {
        display: unset;
    }

    .g0 {
        margin-top: 16px;
    }

    .fz {
        -webkit-box-pack: justify;
        justify-content: space-between;
    }

    .fx {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }

    .fy {
        -webkit-box-align: center;
        align-items: center;
    }
}

.h0 {
    margin: 0px;
}

.gz {
    padding-top: 16px;
}

.g2 {
    line-height: 28px;
}

.g1 {
    font-size: 20px;
}

.bm {
    font-weight: 700;
}



.b1 {
    color: #000000;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

user agent stylesheet h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

.eo {
    padding: 16px 0;
}

.ci {
    cursor: pointer;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

.fw {
    -webkit-box-align: start;
    align-items: flex-start;
}

.dq {
    margin-bottom: 0;
}

.g2 {
    line-height: 28px;
}

.g1 {
    font-size: 20px;
}

.bm {
    font-weight: 700;
}



h1,
h2,
h3,
h4,
p {
    margin: 0;
    font-weight: normal;
}

.g8 {
    color: rgb(94, 94, 94);
}

.g7 {
    width: 40px;
}

.h3 {
    fill: currentcolor;
}

.h2 {
    flex: 0 0 auto;
}

.h1 {
    width: 24px;
}

.fc {
    height: 24px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

user agent stylesheet svg:not(:root) {
    overflow-clip-margin: content-box;
    overflow: hidden;
}

@media screen and (min-width: 1024px) {
    .ft {
        padding: 4px 0px;
    }

    .fs {
        border: 1px solid rgb(243, 243, 243);
    }
}

.fr {
    border-radius: 16px;
}

.eh {
    padding: 0;
}

.b0 {
    background-color: #ffffff;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

user agent stylesheet div {
    display: block;
    unicode-bidi: isolate;
}

.hz {
    padding: 0px 0px 16px;
}

.eq {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.eo {
    padding: 16px 0;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

a {
    text-decoration: none;
    color: inherit;
}

.i0 {
    padding-right: 16px;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.i2 {
    border-radius: 50%;
}

.i1 {
    flex-shrink: 0;
}

.e5 {
    width: 48px;
}

.e4 {
    height: 48px;
}

.bu {
    overflow: hidden;
}

.ak {
    position: relative;
}

.i3 {
    object-fit: cover;
}

.i1 {
    flex-shrink: 0;
}

.e5 {
    width: 48px;
}

.e4 {
    height: 48px;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

user agent stylesheet img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.i4 {
    gap: 4px;
}

.d4 {
    -webkit-box-pack: center;
    justify-content: center;
}

.am {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.ds {
    line-height: 20px;
}

.dr {
    font-weight: 500;
}

.bp {
    font-size: 16px;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.b1 {
    color: #000000;
}

.i5 {
    color: rgb(75, 75, 75);
}

.fd {
    font-size: 14px;
}

.ds {
    line-height: 20px;
}

.bq {
    font-weight: normal;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

h1,
h2,
h3,
h4,
p {
    margin: 0;
    font-weight: normal;
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

user agent stylesheet p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

.i6 {
    height: 4px;
}

.h0 {
    margin: 0px;
}

.gx {
    border: none;
}

.i7 {
    list-style-type: none;
}

.e0 {
    padding-right: 0;
}

.dz {
    padding-left: 0;
}

.dq {
    margin-bottom: 0;
}

.do {
    margin-top: 0;
}

.bh {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.ia:last-child {
    border-bottom: unset;
}

.i9 {
    border-bottom-color: rgb(243, 243, 243);
}

.i8 {
    border-bottom-width: 1px;
}

.i7 {
    list-style-type: none;
}

.hl {
    border-bottom-style: solid;
}

.bh {
    width: 100%;
}

li {
    display: block;
}

.id {
    min-height: 64px;
}

.ib {
    outline-offset: -3px;
}

.gz {
    padding-top: 16px;
}

.eq {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.e0 {
    padding-right: 0;
}

.dz {
    padding-left: 0;
}

.ds {
    line-height: 20px;
}

.dr {
    font-weight: 500;
}

.dq {
    margin-bottom: 0;
}

.dp {
    margin-right: 0;
}

.do {
    margin-top: 0;
}

.dn {
    margin-left: 0;
}

.dd {
    outline: none;
}

.ci {
    cursor: pointer;
}

.bp {
    font-size: 16px;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.bi {
    padding-bottom: 16px;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.b1 {
    color: #000000;
}

.b0 {
    background-color: #ffffff;
}

.al {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.af {
    box-sizing: border-box;
}

.ie {
    min-width: 40px;
}

.g8 {
    color: rgb(94, 94, 94);
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.ds {
    line-height: 20px;
}

.dr {
    font-weight: 500;
}

.bp {
    font-size: 16px;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.b1 {
    color: #000000;
}

.ij {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.ii {
    transition-duration: 500ms;
}

.ih {
    transition-property: transform;
}

.ig {
    transform-origin: center center;
}

.if {
    transform: rotate(0deg);
}

.g8 {
    color: rgb(94, 94, 94);
}

.ik {
    transition-property: height;
}

.ij {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.ii {
    transition-duration: 500ms;
}

.bu {
    overflow: hidden;
}

.ap {
    height: 0;
}

.r1 {
    height: auto;
}

.ik {
    transition-property: height;
}

.ij {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.ii {
    transition-duration: 500ms;
}

.bu {
    overflow: hidden;
}

.tj {
    visibility: visible;
}

.lg {
    opacity: 1;
}

.io {}

.in {
    transition-delay: 200ms;
}

.im {
    transition-property: opacity, visibility;
}

.ij {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.ii {
    transition-duration: 500ms;
}

.fd {
    font-size: 14px;
}

.e0 {
    padding-right: 0;
}

.dz {
    padding-left: 0;
}

.dy {
    padding-bottom: 0;
}

.dx {
    padding-top: 0;
}

.ds {
    line-height: 20px;
}

.dq {
    margin-bottom: 0;
}

.dp {
    margin-right: 0;
}

.do {
    margin-top: 0;
}

.dn {
    margin-left: 0;
}

.bu {
    overflow: hidden;
}

.bq {
    font-weight: normal;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.b1 {
    color: #000000;
}

.b0 {
    background-color: #ffffff;
}

.af {
    box-sizing: border-box;
}

.tk {
    margin-bottom: -16px;
}

.bh {
    width: 100%;
}

.tl {
    min-height: 112px;
}

.rj {
    pointer-events: auto;
}

.nf {
    margin-right: 16px;
}

.bh {
    width: 100%;
}

.d4 {
    -webkit-box-pack: center;
    justify-content: center;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.tt {
    padding: 10px;
}

.gu {
    background-color: rgba(243, 243, 243, 0);
}

.fe {
    line-height: 16px;
}

.fd {
    font-size: 14px;
}

.ez {
    border-radius: 8px;
}

.dr {
    font-weight: 500;
}

.bw {
    white-space: nowrap;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.in {
    transition-delay: 200ms;
}

.im {
    transition-property: opacity, visibility;
}

.il {
    visibility: hidden;
}

.ij {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.ii {
    transition-duration: 500ms;
}

.fd {
    font-size: 14px;
}

.e0 {
    padding-right: 0;
}

.dz {
    padding-left: 0;
}

.dy {
    padding-bottom: 0;
}

.dx {
    padding-top: 0;
}

.ds {
    line-height: 20px;
}

.dq {
    margin-bottom: 0;
}

.dp {
    margin-right: 0;
}

.do {
    margin-top: 0;
}

.dn {
    margin-left: 0;
}

.bu {
    overflow: hidden;
}

.bq {
    font-weight: normal;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.b1 {
    color: #000000;
}

.b0 {
    background-color: #ffffff;
}

.ax {
    opacity: 0;
}

.af {
    box-sizing: border-box;
}

.h0 {
    margin: 0px;
}

.gz {
    padding-top: 16px;
}

.g2 {
    line-height: 28px;
}

.g1 {
    font-size: 20px;
}

.bm {
    font-weight: 700;
}



.b1 {
    color: #000000;
}

.eo {
    padding: 16px 0;
}

.ga {
    gap: 8px;
}

.h0 {
    margin: 0px;
}

.gx {
    border: none;
}

.gu {
    background-color: rgba(243, 243, 243, 0);
}

.bs {
    height: 1px;
}

.eq {
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.ds {
    line-height: 20px;
}

.dr {
    font-weight: 500;
}

.bp {
    font-size: 16px;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial,
        sans-serif;
}

.j9 {
    gap: 6px;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.aq {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
}

.hz {
    padding: 0px 0px 16px;
}

.jv {
    height: auto;
}

.ik {
    transition-property: height;
}

.ij {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.ii {
    transition-duration: 500ms;
}

.bu {
    overflow: hidden;
}

.jd {
    transform: rotate(-180deg);
}

.ij {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.ii {
    transition-duration: 500ms;
}

.ih {
    transition-property: transform;
}

.ig {
    transform-origin: center center;
}

.g8 {
    color: rgb(94, 94, 94);
}

.jd {
    transform: rotate(-180deg);
}

.ij {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.ii {
    transition-duration: 500ms;
}

.ih {
    transition-property: transform;
}

.ig {
    transform-origin: center center;
}

.g8 {
    color: rgb(94, 94, 94);
}

.jf {
    visibility: visible;
}

.je {
    opacity: 1;
}

.io {}

.in {
    transition-delay: 200ms;
}

.im {
    transition-property: opacity, visibility;
}

.ij {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.ii {
    transition-duration: 500ms;
}

.fd {
    font-size: 14px;
}

.e0 {
    padding-right: 0;
}

.dz {
    padding-left: 0;
}

.dy {
    padding-bottom: 0;
}

.dx {
    padding-top: 0;
}

.ds {
    line-height: 20px;
}

.dq {
    margin-bottom: 0;
}

.dp {
    margin-right: 0;
}

.do {
    margin-top: 0;
}

.dn {
    margin-left: 0;
}

.bu {
    overflow: hidden;
}

.bq {
    font-weight: normal;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.b1 {
    color: #000000;
}

.b0 {
    background-color: #FFFFFF;
}

.af {
    box-sizing: border-box;
}

.jf {
    visibility: visible;
}

.je {
    opacity: 1;
}

.io {}

.in {
    transition-delay: 200ms;
}

.im {
    transition-property: opacity, visibility;
}

.ij {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.ii {
    transition-duration: 500ms;
}

.fd {
    font-size: 14px;
}

.e0 {
    padding-right: 0;
}

.dz {
    padding-left: 0;
}

.dy {
    padding-bottom: 0;
}

.dx {
    padding-top: 0;
}

.ds {
    line-height: 20px;
}

.dq {
    margin-bottom: 0;
}

.dp {
    margin-right: 0;
}

.do {
    margin-top: 0;
}

.dn {
    margin-left: 0;
}

.bu {
    overflow: hidden;
}

.bq {
    font-weight: normal;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.b1 {
    color: #000000;
}

.b0 {
    background-color: #FFFFFF;
}

.af {
    box-sizing: border-box;
}

.jf {
    visibility: visible;
}

.je {
    opacity: 1;
}

.io {}

.in {
    transition-delay: 200ms;
}

.im {
    transition-property: opacity, visibility;
}

.ij {
    transition-timing-function: cubic-bezier(0.23, 1, 0.32, 1);
}

.ii {
    transition-duration: 500ms;
}

.fd {
    font-size: 14px;
}

.e0 {
    padding-right: 0;
}

.dz {
    padding-left: 0;
}

.dy {
    padding-bottom: 0;
}

.dx {
    padding-top: 0;
}

.ds {
    line-height: 20px;
}

.dq {
    margin-bottom: 0;
}

.dp {
    margin-right: 0;
}

.do {
    margin-top: 0;
}

.dn {
    margin-left: 0;
}

.bu {
    overflow: hidden;
}

.bq {
    font-weight: normal;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.b1 {
    color: #000000;
}

.b0 {
    background-color: #FFFFFF;
}

.af {
    box-sizing: border-box;
}

.jv {
    height: auto;
}

.jg {
    margin-bottom: -16px;
}

.bh {
    width: 100%;
}

.jj {
    min-height: 112px;
}

.ji {
    margin-right: 16px;
}

.jh {
    pointer-events: auto;
}

.bh {
    width: 100%;
}

.d4 {
    -webkit-box-pack: center;
    justify-content: center;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.jn {
    min-height: 72px;
}

.jm {
    height: 72px;
}

.jl {
    min-width: 72px;
}

.jk {
    width: 72px;
}

.ji {
    margin-right: 16px;
}

.ez {
    border-radius: 8px;
}

.dq {
    margin-bottom: 0;
}

.do {
    margin-top: 0;
}

.dn {
    margin-left: 0;
}

.d4 {
    -webkit-box-pack: center;
    justify-content: center;
}

.bu {
    overflow: hidden;
}

.jo {
    outline-offset: -1px;
}

.jm {
    height: 72px;
}

.jk {
    width: 72px;
}

.i3 {
    object-fit: cover;
}

.jp {
    gap: 2px;
}

.gz {
    padding-top: 16px;
}

.fw {
    -webkit-box-align: start;
    align-items: flex-start;
}

.d4 {
    -webkit-box-pack: center;
    justify-content: center;
}

.cl {
    flex: 1;
}

.bi {
    padding-bottom: 16px;
}

.am {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.fd {
    font-size: 14px;
}

.eu {
    margin-bottom: 8px;
}

.ds {
    line-height: 20px;
}

.bq {
    font-weight: normal;
}

.d4 {
    -webkit-box-pack: center;
    justify-content: center;
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.jt {
    padding: 10px;
}

.gu {
    background-color: rgba(243, 243, 243, 0);
}

.fe {
    line-height: 16px;
}

.fd {
    font-size: 14px;
}

.ez {
    border-radius: 8px;
}

.dr {
    font-weight: 500;
}

.bw {
    white-space: nowrap;
}

.bo {
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.ja {
    color: rgba(166, 166, 166, 0);
}

.bc {
    -webkit-box-align: center;
    align-items: center;
}

.j7:hover {
    background-color: rgb(40, 40, 40);
}

@media screen and (min-width: 1024px) {
    .fk {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-direction: row;
    }
}

.bs {
    height: 1px;
}

hr {
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
}

.gu {
    background-color: rgb(243, 243, 243);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
    justify-content: center;
    align-items: center;
}

.modal h1{
    font-size: 36px;
    font-weight: 700;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 2vh;
    margin-top: 2vh;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
}

.modal label{
    font-size: 14px;
    font-weight: 500;
    font-family: UberMove, UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 2vh;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input, .form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.form-row {
    display: flex;
    justify-content: space-between;
}
.form-row .form-group {
    flex: 1;
    min-width: 45%;
}
.form-row .form-group:first-child {
    margin-right: 10px;
}
                    
.modal-close {
    background-color: rgb(243, 243, 243);
    min-height: 48px;
    min-width: 48px;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    line-height: 20px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
}     

.close {
    font-weight: 600;
    font-size: 40px;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal-content input[type="text"], select, input[type="number"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: left;
    box-sizing: border-box;
}

.modal-content button {
    color: rgb(255, 255, 255);
    background-color: black;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    line-height: 24px;
    font-size: 18px;
    cursor: pointer;
    width: 70%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    margin: 0 0 2vh 0;
}

.modal-content button:hover {
    background-color: #45a049;
}


/* <div id="myModal2" class="modal">
    <div class="modal-content">
        <div class="modal-close">
            <span class="close" onclick="closeModal2()">&times;</span>
        </div>
        <h1>Payer avec votre solde</h1>
        <div>
            <p>Votre solde actuel est de <span id="soldeUser"><%= logUser.balance.toFixed(2) %>€</span>.</p>
            <p>Le montant de la commande est de <span id="montantCommande"><%= (subtotal + taxe).toFixed(2) %>€</span>.</p>
            <p id="resteSolde"></p>
        </div>
        <button type="button" class="btn-primary" onclick="validerPaiement()">Valider</button>
    </div>
</div> */


#myModal2 p{
    font-weight: normal;
    font-family: UberMoveText, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 2vh 0;
}

.div_info_separation {
    height: 1px;
    width: 85%;
    background-color: rgb(243, 243, 243);
    margin: 1vh 0 1vh 0;
}

.btn-group {
    margin: 2vh 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

