@import url(./set.css);

body {
    display: flex;
    flex-direction: column;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 20px;
    flex: 1;
}

header {
    width: 100%;
}

.header-image {
    width: 100%;
    height: auto;
}

.content {
    display: flex;
    flex: 1;
}

.sidebar {
    position: sticky;
    top: 100px;
    width: 25%;
    height: 25%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.restaurant-info {
    margin-bottom: 20px;
}

.restaurant-info h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.restaurant-info p {
    margin: 5px 0;
    color: #666;
}

.restaurant-info hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

#boutons {
    position: relative;
    width: 200px; /* ajustez cette largeur selon vos besoins */
}

.nav-links {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-links li {
    position: relative;
}

.nav-links a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.nav-links a.selected {
    background-color: #f0f0f0; /* fond grisé */
    font-weight: bold;
}

.trait-noir {
    position: absolute;
    left: 0;
    top: 0;
    width: 4px; /* largeur du trait noir */
    background-color: black;
    transition: height 0.3s ease-in-out, transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    opacity: 0; /* Ajouté pour éviter le clignotement initial */
}



.nav-links a:hover {
    text-decoration: underline;
}

.main-content {
    flex: 1;
    padding: 20px;
    background-color: #fff;
}

section {
    margin-bottom: 40px;
}

section h2 {
    margin-top: 0;
    color: #333;
}

.title {
    margin-bottom: 20px;
    text-align: left;
}

.flex-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.offset {
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}

.menus {
    padding: 20px;
    background-color: #f0f0f0;
}

.menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 600px) {
    .flex-container {
        flex-direction: column;
    }

    .menu-item {
        flex: 1 1 calc(50% - 20px);
        margin: 0 0;
        display: block;
    }

    .quantity-control {
        justify-content: center;
    }

    .content {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 20px;
        height: 105px;
    }

    .nav-links {
        visibility: hidden;
    }

    .offset {
        display: block;
        height: 300px;
        margin-top: -300px;
        visibility: hidden;
    }

}

.menu-item img {
    width: 150px;
    height: 150px;
    object-fit: contain;
    margin-right: 20px;
    border-radius: 10px;
}

.menu-item p {
    margin: 0;
    font-size: 18px;
    color: #333;
}


.quantity-control {
    margin: 10px;
    display: flex;
    align-items: center;
}

.quantity-btn {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quantity-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.quantity-display {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007BFF;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}