.profile-presentation {
    background: linear-gradient(to right, rgba(245, 245, 245, 0.4), rgba(245, 245, 245, .4)), url('../../assets/img/fond_minimaliste.jpg');
    background-position: center;
    background-size: x;
    background-attachment: fixed;
    height: 50vh;
    min-height: 50rem;
    max-height: 120rem;
    position: relative;
    display: flex;
    align-items: center;
}

.container_img_profile {
    display: flex;
    justify-content: center;
    margin: auto;
}

.container_info_profile {
    max-width: 120rem;
    margin: auto;
    width: 92%;
    display: flex;
    padding-top: 13rem;
}

.main-container {
    max-width: 120rem;
    width: 92%;
}

.profile__content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10rem;
}

.profile-div{
    max-height: 300px;
    max-width: 300px;
    min-height: 180px;
    min-width: 180px;
    margin: auto;
    height: 30vw;
    width: 30vw;
    border-radius: 50%;
    background-color: rgb(255, 188, 188);
}

.stack{
    position: fixed;
    top: 84px;
    display: flex;
    background-color: #fff;
    width: 100%;
    max-width: 100%;
}

#boutons {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between
}

.bouton-onglet {
    background-color: transparent;
    border: none;
    padding: 2rem;
    position: relative;
}

.bouton-onglet a {
    text-decoration: none;
    color: black;
}

.bouton-onglet.selected {
    background-color: #ccc;
}

.trait-noir {
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease-in-out, transform 0.3s ease-in-out;
}



.div_info_perso{
    margin: 0 0 0 2vh;
}

.info-title strong {
    font-weight: bold;
    font-size: 2.5rem;
}

.info-item span {
    font-size: 2rem;
    font-weight: normal;
}

.info-item {
    font-size: 2rem;
    font-weight: bold;
}

.div_info_separation {
    height: 1px;
    width: 85%;
    background-color: #ccc;
    margin: 1vh 0 1vh 0;
}

.profile_contenu{
    padding: 3rem;
}





.commande_title {
    font-size: 2.5rem;
}



@media (max-width: 900px) {
    .commande_item {
        display: flex;
        flex-direction: column;
        margin: 2vh 0 2vh 3vh;
        max-width: 400px;
    }

    .commande_details_items {
        width: 100%;
    }
}




.details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.commande_item_info_resto {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px; 
}

.commande_item_info_resto ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.commande_item_info_resto li {
    padding: 0 1rem;
    font-size: 1.5rem;
}



.commande_details_items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

.commande_details_items ul li {
    font-size: 1.1rem;
    display: flex;
    justify-content: space-between; 
}

.horizontal {
    display: flex;
    align-items: center;
    width: 100%;
    flex: 1;
}

.title_menu {
    margin-right: 1vh;
    font-size: 1.7rem;
}

.title_ {
    margin-right: 1vh;
}

.commande_item img {
    width: 95%;
    height: 150px;
    margin-right: 20px;
    border-radius: 8px;
}

.item_qty {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    background-color: #ccc;
    border-radius: 50%;
    margin-right: 1vh;
}

.actions {
    display: flex;
    align-items: center;
    margin: 2vh 0 0 0;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.actions button {
    margin-bottom: 1rem;
}

.show-all-btn {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
}

.show-all-btn {
    padding: 2rem;
}

.btn_more {
    background: #43BFB3;
    color: #fff;
    text-transform: uppercase;
    padding: 1rem;
    letter-spacing: 1px;
    display: inline-block;
    width: 300px;
    font-weight: 500;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
    transition: transform .3s;
}

.btn_more:hover {
    transform: translateY(-3px);
}

.btn--theme {
    background: #43BFB3;
    color: #fff;
}

.btn--med {
    padding: 1.5rem 5rem;
    font-size: 1.6rem;
}

.btn_all_commande {
    background: #43BFB3;
    color: #fff;
    text-transform: uppercase;
    padding: 2rem;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
    transition: transform .3s;
}

.btn_all_commande:hover {
    transform: translateY(-3px);
}



@media (min-width: 900px) {
    .commande_item {
        display: flex;
        margin: 2vh 0 2vh 3vh;
        max-width: 750px;
    }

    .commande_item img {
        width: 100%;
        height: 200px;
        margin-right: 20px;
        border-radius: 8px;
    }

    .actions {
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 200px; 
        padding-right: 20px;
    }
    

    .btn_more {
        background: #43BFB3;
        color: #fff;
        text-transform: uppercase;
        padding: 1rem;
        letter-spacing: 1px;
        display: inline-block;
        width: 200px;
        font-weight: 500;
        border-radius: 5px;
        box-shadow: 0 5px 15px 0 rgba(0, 0, 0, .15);
        transition: transform .3s;
    }
    
    .btn_more:hover {
        transform: translateY(-3px);
    }

    .btn--med {
        font-size: 1.6rem;
    }

    .commande_item_info_resto li {
        padding: 0 1rem;
        font-size: 1.5rem;
    }

    .horizontal {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .commande_item {
        display: flex;
        margin: 2vh 0 2vh 3vh;
        max-width: 900px;
    }

    .commande_item img {
        width: 100%;
        height: 250px;
        margin-right: 20px;
        border-radius: 8px;
    }
}