@import url(../set.css);

.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
    background: #000;
    background: #fff;
    box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.header_content {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 1rem 5rem;
}

.header_profile-container {
    display: flex;
    /* align-items: center; */
    cursor: pointer;
    color: #333;
}

.header_profile-span {
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.header_profile-img-cont {
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 1.5rem;
    background: #0071c2;
}

.header_logo-img {
    width: 2%;
    height: 2%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
    display: block;
    margin-right: 10px;
}

.header_link-li {
    margin: 0;
    transition: 0.3s transform ease-in-out;
}

.header_link-li:hover {
    transform: translateY(-2px);
}

.header_link {
    padding: 2.2rem 3rem;
    display: inline-block;
    font-size: 1.6rem;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    transition: color .3s;
    text-decoration: none;
}

.header_link-less {
    padding: 2rem 2rem;
    display: inline-block;
}

.header li {
    max-height: 68px;
    margin-bottom: 0px;
}

.header li img {
    max-height: 68px;
    cursor: pointer;
}


.search_container {
    display: flex;
    align-items: center; /* Ajout pour aligner les éléments verticalement */
}

.header_link-li:last-child, .header_logo-img:last-child {
    margin-right: 0; /* Retire la marge à droite du dernier élément */
}

.header_main {
    display: flex;
    justify-content: flex-end; /* Aligne les éléments à droite */
    align-items: center; /* Aligne les éléments verticalement au centre */
    flex-grow: 1; /* Permet aux éléments de s'étendre pour remplir l'espace */
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
}
.search,
.button {
    height: var(--height);
    font-family: var(--font-fam);
    border: 0;
    color: var(--color-dark);
    font-size: 1.2rem;
}

input[type="search"] {
    outline: 0;
    width: 100%;
    background: var(--color-light);
    padding: 0 1.6rem;
    border-radius: var(--rad);
    appearance: none;
    transition: all var(--dur) var(--bez);
    transition-property: width, border-radius;
    z-index: 1;
    position: relative;
}

.button {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 10;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.search:not(:placeholder-shown) {
    border-radius: var(--rad) 0 0 var(--rad);
    width: calc(100% - var(--btn-width));

    +button {
        display: block;
    }
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}